.favorite__container {
  padding: 5rem 10rem 10rem 10rem;
}

.favorite__listGroupItem {
  display: flex !important;
  align-items: flex-start;
  justify-content: space-between;
}

.favorite__DeleteIcon {
  cursor: pointer;
  transition: all 0.2s;
  font-size: 22px;
  color: var(--red);
}

.favorite__DeleteIcon:hover {
  color: var(--black);
}
