.home__title {
  margin-bottom: 1rem;
}

.home__headTitle {
  font-size: 42px;
}

.home__col {
  margin-bottom: 1rem;
}

.home__productContainer {
  padding-top: 1rem;
}

@media (max-width: 771px) {
  /*.filters {
    width: 40%;
    padding: 10px;
    margin: 5px;
  }*/

  .title {
    font-size: 18px !important;
  }

  .productContainer {
    width: 58%;
    padding: 0;
  }

  .search {
    display: none !important;
  }

  .products {
    width: 100%;
  }
}
