.singleProduct__card {
  width: 100%;
  border-radius: 12px !important;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.singleProduct__card img {
  height: 7rem;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.singleProduct__card:hover {
  box-shadow: rgba(82, 61, 61, 0.12) 0px 10px 30px;
  -webkit-box-shadow: rgba(82, 61, 61, 0.12) 0px 10px 30px;
}

.singleProduct__rating {
  display: block;
  margin-top: 15px;
  color: #222;
}

.singleProduct__contactIcon,
.singleProduct__addressIcon {
  margin-right: 5px;
}

.singleProduct__contactNum {
  font-size: 14px;
}

.singleProduct__followerNum {
  margin-bottom: 15px;
  font-weight: bold;
}

.singleProduct__adressText {
  font-size: 14px;
}

.singleProduct__type {
  font-style: italic;
  font-size: 14px !important;
}

.singleProduct__cartButton {
  font-size: 14px !important;
  margin-top: 15px;
}
